.box {
  width: 30em;
  min-height: 20vh;
  height: 40vh;
}

.border-radius-7 {
  border-radius: 7px;
}

.overflow-size {
  overflow-y: auto;
}

.bg-white {
  background-color: rgb(240, 242, 199);
}

.min-heigth-chat {
  min-height: 100%;
}

.box-history {
  padding: 8px;
  margin: 0.5em;
  position: relative;
  top: 1em;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(199, 152, 65);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(218, 169, 78);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(199, 152, 65);
}

.bot-message {
  background-color: rgb(199, 152, 65);
  border-radius: 0.2em;
  width: 90%;
  color: white;
  margin-bottom: 0.5em;
  padding: 1em;
}

.actor-message {
  display: flex;
  justify-content: end;
  background-color: rgb(199, 152, 65);
  border-radius: 0.2em;
  color: white;
  width: 90%;
  padding: 1em;
}