.box {
    border-style: solid;
    border-color: red;
    width: 30em;
    height: 30em;
}

.border-radius-7 {
    border-radius: 7px;
}

.overflow-size {
    overflow-y: auto;
}

.box-history {
    height: 20em;
    background-color: white;
}