<div class="bg-white">
  <div class="box border-radius-7 overflow-size">
    <div #scrollMe class="bg-white min-heigth-chat box-history">
      <div class="" *ngFor="let item of payloadMessages">
        <div
          class="bot-message"
          *ngIf="item.sender.name == 'bot'; else elseBlock"
        >
          {{ item.text }}
        </div>
        <ng-template #elseBlock>
          <div style="display: flex; flex-direction: row; justify-content: end;">
            <div class="actor-message">
              {{ item.text }}
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="footer-send">
    <app-chat-send-menssage
      (eventSendMessage)="onSendMessage($event)"
      [text]="textMessage"
    ></app-chat-send-menssage>
  </div>
</div>
