.send-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 10vh;
    margin-top: 0.3vh;
}

.width-input-send {
    width: 100%;
}

.border-radius-7 {
    border-radius: 7px;
}

.bg-white {
    background-color: rgb(250, 241, 241);
}